@model IEnumerable<TARpe22ShopEvert.Models.Cars.CarIndexViewModel>
@{
    int rowNumber = 1;
}
<div class="h1">Cars</div>
<div>
    <a asp-action="Create" asp-controller="car" type="submit" class="btn btn-primary">Create</a>
</div>
<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Mark</th>
                <th scope="col">Price</th>
                <th scope="col">Model</th>
                <th scope="col">CreatedAt</th>
                <th scope="col">IsNew</th>
            </tr>
        </thead>
        <tbody>
            lel loodab et siin ei pea midagi olema
        </tbody>
    </table>
</form>